* {
	box-sizing: border-box;
	font-family: 'Lexend Deca', sans-serif;
}
.header {
	margin: auto;
	width: 450px;
	height: 100px;
	display: flex;
	background-color: orange;
	border-radius: 4px;
	justify-content: space-around;
}
h1 {
	margin: auto;
	padding: 10px 5px;
	color: white;
}
fieldset {
	margin: auto;
	padding: 20px;
	width: 400px;
	height: 530px;
	border: 2px solid black;
	border-radius: 4px;
	justify-content: space-around;
}
input[type=text], input[type=mail], input[type=password], textarea[id=bio] {
	width: 75%;
	margin: auto;
	padding: 8px 5px;
	border: 2px solid black;
	border-radius: 4px;
}
.submit {
	box-shadow: 1px 2px 2px;
	background-color: #2CFF50;
	border: 4px;
	border-radius: 4px;
	color: white;
	padding: 8px 16px;
	margin: 4px 2px;
}